/*
 * sircus-tools-width
 ================================================== */

.t-width1of10 { width: 10% !important; }
.t-width1of9  { width: 11.11111% !important; }
.t-width1of8  { width: 12.5% !important; }
.t-width1of7  { width: 14.28571% !important; }
.t-width1of6  { width: 16.66667% !important; }
.t-width1of5,
.t-width2of10 { width: 20% !important; }
.t-width2of9  { width: 22.22222% !important; }
.t-width1of4,
.t-width2of8  { width: 25% !important; }
.t-width2of7  { width: 28.57143% !important; }
.t-width3of10 { width: 30% !important; }
.t-width1of3,
.t-width2of6,
.t-width3of9  { width: 33.33333% !important; }
.t-width3of8  { width: 37.5% !important; }
.t-width2of5,
.t-width4of10 { width: 40% !important; }
.t-width3of7  { width: 42.85714% !important; }
.t-width4of9  { width: 44.44444% !important; }
.t-width1of2,
.t-width2of4,
.t-width3of6,
.t-width4of8,
.t-width5of10 { width: 50% !important; }
.t-width5of9  { width: 55.55556% !important; }
.t-width4of7  { width: 57.14286% !important; }
.t-width3of5,
.t-width6of10 { width: 60% !important; }
.t-width5of8  { width: 62.5% !important; }
.t-width2of3,
.t-width4of6,
.t-width6of9  { width: 66.66667% !important; }
.t-width7of10 { width: 70% !important; }
.t-width5of7  { width: 71.42857% !important; }
.t-width3of4,
.t-width6of8  { width: 75% !important; }
.t-width7of9  { width: 77.77778% !important; }
.t-width4of5,
.t-width8of10 { width: 80% !important; }
.t-width5of6  { width: 83.33333% !important; }
.t-width6of7  { width: 85.71429% !important; }
.t-width7of8  { width: 87.5% !important; }
.t-width8of9  { width: 88.88889% !important; }
.t-width9of10 { width: 90% !important;}
.t-width2of2,
.t-width3of3,
.t-width4of4,
.t-width5of5,
.t-width6of6,
.t-width7of7,
.t-width8of8,
.t-width9of9,
.t-width10of10  { width: 100% !important; }
